<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>907291847297-h4snca03auecro0hi251bl0ft1608ec0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.907291847297-h4snca03auecro0hi251bl0ft1608ec0</string>
	<key>API_KEY</key>
	<string>AIzaSyCQ3ps7N_BJwcuqX070qEHy4uqkNKeX5tE</string>
	<key>GCM_SENDER_ID</key>
	<string>907291847297</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.encryptDecryptApp</string>
	<key>PROJECT_ID</key>
	<string>encrypt-decrypt-app-764f4</string>
	<key>STORAGE_BUCKET</key>
	<string>encrypt-decrypt-app-764f4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:907291847297:ios:bddbfdc03d2014eb4c3b80</string>
</dict>
</plist>